{% extends "bootstrap.html" %}

{% block head %}
<title>Kaloryczność produktów</title>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
{% endblock %}

{% block navbar_resultProd2 %}
<li class="nav-item">
	<a class="nav-link" href="/BMR">Oblicz swoje BMR</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="/BMI">Oblicz swoje BMI</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="/produkty">Powrót do produktów</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="/">Powrót do strony głównej</a>
</li>
{% endblock %}

{% block content %}
<!-- Wykres -->
<center>
	<h4 class = "font-weight-bold" style= "margin: 20px 0px 20px 0px">Procentowy rozkład makroelementów</h4>
    <canvas id="chart" width="600" height="400"></canvas>
	<script>
	 var pieData = [
        {% for item, label, colors in set %}
          {
            value: {{item}},
            label: "{{label}}",
            color : "{{colors}}"
          },
        {% endfor %}
      ];

      var mychart = document.getElementById("chart").getContext("2d");
      steps = 10
      new Chart(document.getElementById("chart").getContext("2d")).Pie(pieData);
    </script>
</center>

<!-- Dane z formularza -->
<br>
<div>
	<ul class = "font-weight-bold text-center" >
	   Produkty z listy mają łącznie:
	</ul>

	<ul class = "font-weight-bold text-center">
    Kalorie: {{productsSumCopyRound[0]}} kcal <br>
    Węglowodany: {{productsSumCopyRound[1]}} g <br>
    Białko: {{productsSumCopyRound[2]}} g <br>
    Tłuszcze: {{productsSumCopyRound[3]}} g <br>
    Błonnik: {{productsSumCopyRound[4]}} g <br>
	</ul>
</div>

{% endblock %}
